<!DOCTYPE html>
<html lang="zh" slick-uniqueid="1">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% block sitename %}{{ escape(handler.settings["site_name"]) }}{% end %} - {% block title %}{{ escape(handler.settings["site_title"]) }}{% end %}</title>

	<meta name="keywords" content="{% block keywords %}{{ escape(handler.settings["site_keywords"]) }}{% end %}">
	<meta name="description" content="{% block description %}{{ escape(handler.settings["site_description"]) }}{% end %}">
	
	{% block css %}
	<link type="text/css" href="{{static_url('media/css/main.dev.css')}}" rel="stylesheet" media="screen" />
	{% end %}

	{% block js %}
	<script type="text/javascript" src="{{static_url('media/js/jquery-1.7.1.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('media/js/jquery.isotope.min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('media/js/jquery.endless-scroll-1.3.js')}}"></script>
	<script type="text/javascript" src="{{static_url('media/js/global.js')}}"></script>
	<script type="text/javascript" src="{{static_url('media/js/jquery.zxxbox.3.0-min.js')}}"></script>
	<script type="text/javascript" src="{{static_url('media/js/jquery.pageslide.js')}}"></script>	
	{% end %}
	
	
	
	{% include "common/fuckie.html" %}
	
	{% include "common/appdatascript.html" %}
	
</head>
<body>
{% block content %}{{ escape(handler.settings["site_name"]) }}{% end %}

{% block script %}{% end %}
</body>
</html>

