{% extends "base.html" %}

{% block css %}
<link type="text/css" href="{{static_url('media/css/main.dev.css')}}" rel="stylesheet" media="screen" />
<style type="text/css">
      .bar {
        width: 100%;
      }
      
      #progress {
        background: #eee;
        border: 1px solid #222;
        margin-top: 20px;
      }
      #progressbar {
        width: 0px;
        height: 24px;
        background: #98D718;
      }
</style>
{% end %}

{% block content %}
{% include "ajax/ajaxupload.html" %}
   <script type="text/javascript">
      $(function() {
        $('form').uploadProgress({
          /* scripts locations for safari */
          jqueryPath: "{{static_url('media/js/jquery-1.7.1.min.js')}}",
          uploadProgressPath: "{{static_url('media/js/jquery.uploadProgress.js')}}",
          start:function(){},
          uploading: function(upload) {$('#percents').html(upload.percents+'%');},
          interval: 2000
          });
      });
      function checkFile(){
      	
      	if($('#iupload').val() == '')
      	{
      		alert('file is not selected') 
      		return false;
      	}else{      		
      		return true;
      	}
      	
      }
    </script>
<div id="UploadPin" style="display: block; " class="ModalContainer  destroy">
    <div class="modal wide ">
        <div class="header">
            <a href="/uploader/choice/" class="close"><strong>Close</strong><span></span></a>
            <h2>上传作品</h2>
        </div>

        <div class="PinTop">
          <form id="upload" enctype="multipart/form-data" action="/upload/" method="post">
            <a id="upload_button" href="#" onclick="return false;" class="btn btn18 wbtn"><strong>选择图片文件</strong><span></span></a>
            <input id="iupload" name="ifile" type="file" accept="image/*" style="position:absolute;width:127px;height:25px;margin-left:-138px;Z-index:1000;opacity:0;filter: alpha(opacity=0);" />
            <input type="submit" onclick="return checkFile()" value="上传" class="btn btn18 wbtn ajax_upload_btn" />
            {{ xsrf_form_html() }}
          </form>

            <div id="uploading">
                <div id="progress" class="bar">
                  <div id="progressbar">&nbsp;</div>
                </div>
            </div>
            <div id="percents"></div>


            <div style="position: absolute; opacity: 0.01; overflow-x: hidden; overflow-y: hidden; ">
                <iframe src="javascript:'<html></html>'" frameborder="no" border="0" name="IFrame_h1cild9z" id="IFrame_h1cild9z" style="display: none; ">
                </iframe>
                <input type="file" name="file" size="1" style="position: absolute; top: 0px; left: 0px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; border-image: initial; " />
            </div>
        </div>
        
    </div>
    <div class="overlay">
    </div>
</div>
{% end %}