body {
	margin-top:0
}
.CloseupRight {
	width:650px
}
.wtr {
	margin-bottom:25px;
	padding:15px 18px 5px 18px;
	background:#FFF;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	box-shadow:1px 1px 2px rgba(0,0,0,.3);
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.3)
}
.wtr h2 {
	height:20px;
	padding:0 0 0 12px;
	margin:0 0 16px;
	font-size:16px;
	clear:left;
	border-left:solid 3px #c00
}
.wtr p {
	font-size:14px;
	line-height:100%;
	padding-left:15px;
	line-height:180%
}

#nav {
	width:190px;
	float:left;
	margin-top:30px;
	margin-left:-30px
}
#nav li {
	width:190px;
	height:40px;
	font-size:16px;
	line-height:40px;
	text-align:right
}
#nav li.selected {
	background:url(../img/about/li.png) no-repeat 0 0
}
#nav li:hover {
	background:url(../img/about/li.png) no-repeat 0 -40px
}
#nav li a,#nav li span {
	padding-right:40px;
	display:block;
	font-weight:400
}
#nav li a:hover {
	text-decoration:none
}

ul.tabs {
	margin:0;
	padding:0;
	border-bottom:solid 1px #D0D0D0
}
ul.tabs li {
	float:left;
	padding:0 auto;
	margin:0 5px -1px 0;
	width:125px;
	height:29px;
	font-size:14px;
	color:#8c7e7e;
	cursor:pointer;
	background:url(../img/tabs.png) left top no-repeat;
	line-height:29px;
	text-align:center
}
ul.tabs li span.icon {
	display:block;
	float:left;
	width:18px;
	height:20px;
	background:url(../img/tabs_icons.png) left top no-repeat;
	margin:5px 0 0 8px
}
ul.tabs li.current,ul.tabs li.current:hover {
	background-position:left -58px
}
ul.tabs li:hover {
	background-position:left -29px
}
ul.tabs li:active {
	background-position:left -58px
}
ul.tabs #tab_weibo:hover span.icon,ul.tabs #tab_weibo.current span.icon {
	background-position:left -20px
}
ul.tabs #tab_email span.icon {
	background-position:left -40px
}
ul.tabs #tab_email:hover span.icon,ul.tabs #tab_email.current span.icon {
	background-position:left -60px
}
#weibo_invite,#email_invite {
	margin-top:10px;
	height:150px
}
.FancyForm li .background {
	height:87px;
	position:relative;
	z-index:3;
	display:block;
	width:100%;
	background:transparent;
	border:1px solid #a4a2a2;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8);
	-moz-box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8);
	-webkit-box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8);
	-webkit-transition:all .08s ease-in-out;
	-moz-transition:all .08s ease-in-out
}
.FancyForm li .focus {
	border-color:#930;
	box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8),0 0 14px rgba(235,82,82,.35);
	-moz-box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8),0 0 14px rgba(235,82,82,.35);
	-webkit-box-shadow:inset 0 1px rgba(34,25,25,.15),0 1px rgba(255,255,255,.8),0 0 14px rgba(235,82,82,.35)
}
#weibo_text {
	border:0;
	border-radius:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	height:60px;
	min-height:60px
}
#codelay {
	font-size:14px;
	padding:5px 10px;
	position:relative
}
#codelay span.overlay {
	display:block;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:30px;
	z-index:9999;
	opacity:0;
	filter:alpha(opacity=5)
}
.Submit {
	margin-top:-10px
}
.Submit .btn {
	float:right
}
.Submit p {
	display:inline;
	color:#ad9c9c;
	margin-left:-15px
}
#invite_history {
	padding-bottom:10px
}
ul.invites {
	border-top:3px double rgba(34,25,25,.1);
	margin-left:15px
}
.invites-available {
	padding:2px 5px;
	margin:0 5px;
	font-weight:700;
	color:#fff;
	background-color:#cb2027;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px
}
.invite {
	font-size:14px;
	color:#999;
	display:block;
	border-bottom:1px solid #bbb;
	padding:0 0 10px 10px;
	margin-top:10px;
	font-weight:400;
	overflow:hidden;
	background-color:#fff
}
.invite .code,.invite .email,.invite .recipient {
	display:block;
	float:left;
	padding-top:5px
}
.invite .code {
	width:150px
}
.invite .email {
	width:180px
}
.invite .recipient {
	position:relative
}
.invite .recipient img {
	position:absolute;
	top:3px;
	left:10px;
	width:32px;
	height:32px
}
.invite .recipient .name {
	margin-left:35px
}
.invite .copy,.invite .used {
	float:right
}
.mail {
	margin-top:15px;
	padding:15px 15px 0 15px;
	background:#fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:1px 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,.3);
	box-shadow:1px 1px 2px rgba(0,0,0,.3)
}
.mail p {
	padding:0;
	margin:0
}
.mail .meta {
	border-bottom:3px double rgba(34,25,25,.1)
}
.mail .meta label {
	display:block;
	float:left;
	width:80px;
	text-align:right;
	font-weight:700;
	color:#333
}
.mail .body {
	padding:20px 10px
}
.mail p.link {
	color:blue
}
#copy_dialog .copybtn {
	position:relative;
	float:right
}
#copy_dialog .StaticForm label {
	width:100px
}
#copy_dialog .wide {
	width:560px;
	margin-left:-280px
}
